@import url(https://fonts.googleapis.com/css?family=Orbitron);

.cross {
    position: absolute;
    width: 110px;
    height: 90px;
    user-select: none;
}

.back-cross {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 105px;
    height: 40px;
    background-color: #e0ded4;
    z-index: 1;
    border: 1px black solid;
}

.back-cross .vert {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 105px;
    height: 40px;
    background-color: #e0ded4;
    z-index: 1;
    border-radius: 4px;
    transform: rotate(90deg);
}


.horizontal {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100px;
    height: 35px;
    background-color: #252725;
    z-index: 2;
    border-radius: 1px;

}

.vertical {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100px;
    height: 35px;
    background-color: #252725;
    z-index: 2;
    border-radius: 1px;
    transform: rotate(90deg);
    box-shadow: inset 3px 0px 0px 0px rgba(255, 255, 255, 0.61);

}

.arrowlf {
    right: 5px;
    top: 6px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 12px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.3;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.61);

}

.arrowlf:before {
    content: '';
    width: 10px;
    height: 13px;
    background-color: black;
    position: absolute;
    left: -20px;
    top: -6px;

}

.arrowrh {
    left: 5px;
    top: 6px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-right: 12px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.3;
    box-shadow: inset 0px 7px 1px 2px rgba(255, 255, 255, 0.91);
}

.arrowrh:before {
    content: '';
    width: 10px;
    height: 13px;
    background-color: black;
    position: absolute;
    left: 10px;
    top: -6px;

}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(180deg, rgb(22, 22, 22) 30%, rgb(58, 58, 58) 100%);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 4;
    border-radius: 50%;
    box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.1);
}