@import url(https://fonts.googleapis.com/css?family=Orbitron);

.controller {
    width: 500px;
    margin: 0 auto;
    top: 30%;
    position: relative;

}

.buttons-a-b {
    position: absolute;
    right: 26px;
    top: 80px;
    height: 50px;
}

.btn-border {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #EDECE7;
    float: left;
    margin: 6px;
}

.btn-round {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 36px;
    height: 36px;
    background: linear-gradient(to bottom, #DF2015 0%, #f84936 100%);
    border-radius: 50%;
    float: left;
    border: 1px rgba(0, 0, 0, 0.51) solid;
    box-shadow: inset 0px 1px 2px 0px #FBFBFB, 0px 1px 1px 0px rgba(0, 0, 0, 0.71);
}

.btn-round:active {
    top: 1px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    box-shadow: inset 0px 0px 1px 0px #FBFBFB, 0px 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.stickers {
    font-family: 'Orbitron', sans-serif;
    color: #DF2015;
    position: absolute;
    z-index: 10;
}

.st-b {
    font-weight: bold;
    position: absolute;
    left: 374px;
    top: 140px;
}

.st-a {
    font-weight: bold;
    position: absolute;
    left: 434px;
    top: 140px;
}